

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.abheading {
    border-bottom: 4px solid #7562FF;
    border-radius: 3px;
}

.aboutsub {
    width: 50rem;
    margin-top: 10px;
}